.main {
    display: flex;
    max-width: 1440px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.main-text {
    color: #212121;
    font-size: 36px;
    font-weight: 400;
    font-family: Arvo, sans-serif;
    letter-spacing: normal;
    line-height: 57.2px;
    text-align: center;
}


.main-text2 {
    width: 374px;
    color: #9fa3a7;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: center;
}


.prices {
    display: flex;
    max-width: 880px;
    justify-content: space-around;
    margin: 0 auto;
}

.price {
    display: flex;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    border: 1px solid transparent;
    padding: 25px;
}

.img-standard {
    align-content: flex-end;
}

.standard-name {
    margin-top: 10%;
    color: #212121;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.88px;
    line-height: normal;
}

.standard-text {
    width: 211px;
    color: #9fa3a7;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.standard-price {
    color: #212121;
    font-family: 'Arvo', sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.standard-but {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15%;
    height: 47px;
    border-radius: 23px;
    background-color: #ffc80a;
    display: none;
}

.premium-but {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    height: 47px;
    border-radius: 23px;
    background-color: #ffc80a;
    display: none;
    margin-top: 15%;
}

.luxury-but {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    height: 47px;
    border-radius: 23px;
    background-color: #ffc80a;
    display: none;
    margin-top: 15%;
}
.premium-name {
    margin-top: 10%;
    color: #212121;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}

.premium-text {
    width: 211px;
    color: #9fa3a7;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: left;
}

.premium-price {
    width: 84px;
    color: #212121;
    font-family: 'Arvo', sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.luxury-name {
    margin-top: 10%;
    color: #212121;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.88px;
}

.luxury-text {
    width: 218px;
    color: #9fa3a7;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    text-align: center;
}

.luxury-price {
    width: 91px;
    color: #212121;
    font-family: 'Arvo', sans-serif;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}


@media (max-width: 1024px) {
    .price {
                padding: 15px;
    }

    .main-text {
        font-size: 28px;
    }

    .main-text2 {
        width: 270px;
        font-size: 10px;
    }

    .standard-price {
        display: block;
        max-width: 120px;
    }

    .standard-text {
        font-size: 10px;
        width: 160px;
    }

    .standard-name {
        font-size: 10px;
    }


    .premium-text {
        font-size: 10px;
        width: 160px;
    }


    .premium-name {
        font-size: 10px;
    }


    .luxury-text {
        font-size: 10px;
        width: 160px;
    }


    .luxury-name {
        font-size: 10px;
    }


    /* .standard-but {
         display: block;
         height: 47px;
     }
     .premium-but {
         display: block;
         height: 47px;
     }
     .luxury-but {
         display: block;
         height: 47px;
     }*/
    .standard-price {
        font-size: 50px;
    }

    .premium-price {
        font-size: 50px;
    }

    .luxury-price {
        font-size: 50px;
    }

    .img-standard {
        width: 130px;
    }

    .img-premium {
        width: 130px;
    }

    .img-luxury {
        width: 130px;
    }
}

@media (max-width: 750px) {
    .price {
        padding: 15px;
    }

    .main-text {
        font-size: 28px;
    }

    .main-text2 {
        font-size: 10px;
    }

    .standard-price {
        max-width: 120px;
    }

    .standard-text {
        font-size: 10px;
        width: 160px;
    }

    .standard-name {
        font-size: 10px;
    }


    .premium-text {
        font-size: 10px;
        width: 160px;
    }


    .premium-name {
        font-size: 10px;
    }


    .luxury-text {
        font-size: 10px;
        width: 160px;
    }


    .luxury-name {
        font-size: 10px;
    }


    .standard-but {
        display: block;
        width: 160px;
    }

    .premium-but {
        display: block;
        width: 160px;
    }

    .luxury-but {
        display: block;
        width: 160px;
    }

    .standard-price {
        font-size: 50px;
    }

    .premium-price {
        font-size: 50px;
    }

    .luxury-price {
        font-size: 50px;
    }

    .img-standard {
        width: 130px;
    }

    .img-premium {
        width: 130px;
    }

    .img-luxury {
        width: 130px;
    }
}

@media (max-width: 450px) {
    .price {
        padding: 15px;

    }

    .main-text {
        font-size: 28px;
    }

    .main-text2 {
        font-size: 10px;
    }

    .standard-price {
        display: block;

    }

    .standard-text {
        font-size: 10px;
        width: 160px;
    }

    .standard-name {
        font-size: 10px;
    }


    .premium-text {
        font-size: 10px;
        width: 160px;
    }


    .premium-name {
        font-size: 10px;
    }


    .luxury-text {
        font-size: 1px;
        width: 160px;
    }


    .luxury-name {
        font-size: 10px;
    }


    .standard-but {
        display: block;
        height: 47px;
        width: 160px;
    }

    .premium-but {
        display: block;
        height: 47px;
        width: 160px;
    }

    .luxury-but {
        display: block;
        height: 47px;
        width: 160px;
    }

    .standard-price {
        font-size: 50px;
    }

    .premium-price {
        font-size: 50px;
    }

    .luxury-price {
        font-size: 50px;
    }

    .img-standard {
        width: 130px;
    }

    .img-premium {
        width: 130px;
    }

    .img-luxury {
        width: 130px;
    }
}
@media (min-width: 1024px) {


    .standard:hover {
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        display: flex;
        align-content: center;
    }

    .standard:hover .standard-but {
        width: 160px;
        border-radius: 30px;
        border: 1px solid #e8e9ed;
        display: block;
    }

    .luxury:hover {
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        display: flex;
        align-content: center;
    }

    .luxury:hover .luxury-but {
        width: 160px;
        border-radius: 30px;
        border: 1px solid #e8e9ed;
        display: block;
    }

    .premium:hover {
        border-radius: 5px;
        border: 1px solid #e8e9ed;
        display: flex;
        align-content: center;
    }

    .premium:hover .premium-but {
        width: 160px;
        border-radius: 30px;
        border: 1px solid #e8e9ed;
        display: block;
    }
}


