*, :before, :after {
    box-sizing: border-box;
}
header{
    margin: 0 auto;
    max-width: 1119px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main{
    color: #292929;
    font-family: Arvo, sans-serif;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.search{
    margin-right: 18px;
    display: flex;
    align-content: space-between;
    justify-content: space-around;
    margin-top: 35px;
    color: #212121;
    font-family: Montserrat,sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    text-transform: uppercase;
}
.search:after{
    padding-left: 18px;
    width: 15px;
    height: 15px;
    margin-right: auto;
    content: url('img/search.svg');
}
.shuffle{
    display: flex;

    margin-top: 35px;
    color: #292929;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.shuffle:before{
    padding-right: 32px;
    width: 16px;
    height: 15px;
    content: url('img/shuffle.svg');
}
.container{
    margin: 72px auto;
    max-width: 1120px;

    width: 100%;
}
.building{
    grid-area: building;
    display: flex;

    flex-direction: column;

}
.stadium{

    grid-area: stadium;
    display: flex;
    flex-direction: column;

}
.winter{
    grid-area: winter;
    display: flex;
    flex-direction: column;

}
.windows{
    grid-area: windows;
    display: flex;
    flex-direction: column;

}
.mountains{
    grid-area: mountains;
    display: flex;
    flex-direction: column;


}
.everest{
    grid-area: everest;
    display: flex;
    flex-direction: column;

}
.icon{
    border-radius: 6px;
    max-width: 360px;
    background-color: #f7f8f9;
    grid-area: icon;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.image{
    display: flex;
}
.river{
    grid-area: river;
    display: flex;
    flex-direction: column;

}
.winter-text{
    color: #ffffff;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    text-align: left;
}
.block{
    grid-gap: 20px;
    justify-content: space-between;
    display: grid;
    grid-template-areas:
"building stadium winter"
"windows mountains mountains"
"everest icon river";}
.photo{
    border-radius:  6px 6px 0 0;
    object-fit: cover;
}
.main-text{
    color: #212121;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;

}
.text{
    max-width: 242px;
    line-height: 26px;
    color: #9fa3a7;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;

}
.text5{
    line-height: 26px;
    max-width: 592px;
    color: #9fa3a7;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    text-align: left;
}
.text-bg{
    padding-right: 25px;
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    border-radius: 0 0 6px 6px;
    background-color: #f7f8f9;
}
.text-bl{
    padding-right: 25px;
    line-height: 26px;
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    background-color: #292929;
    border-radius: 0 0 6px 6px;
}
.text-y{
    line-height: 26px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    background-color: #ffc80a;
    border-radius: 0 0 6px 6px;
}
.windows-main-text{
    color: #ffffff;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.mountains-text{
    display: flex;
    max-height: 221px;
    align-self: flex-start;
    margin-left: 70px;
    color: #212121;
    font-family: Arvo, sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.windows-text{
    max-width: 242px;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}
.main-text-n{
    display: flex;

    max-width: 220px;
    color: #212121;
    font-family: Arvo, sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

    text-align: center;
    background: url("img/Icon.svg")  no-repeat;
}
.icon-text{
    color: #9fa3a7;
    font-family: Arvo,sans-serif;
    font-size: 15px;

    font-style: italic;
    letter-spacing: normal;
    margin-top: 25px;
    text-align: left;
    padding-right: 30px;
    margin-left: auto;
}

.bottom-part{


    padding-right: 25px;
    margin-top: auto;

    width: 100%;
    display: flex;
    flex-direction: row;
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;

    text-align: left;
    text-transform: uppercase;
}
.bottom-part-w{

    padding-right: 25px;
    display: flex;
    flex-direction: row;

    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;

    text-align: center;
    text-transform: uppercase;

    width: 100%;

}
.icon-bp{
    width: 100%;
    padding-left: 24px;
    padding-right: 25px;
}
.bottom-part-m{

    padding-right: 25px;


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;

    text-align: left;
    text-transform: uppercase;
}
.date-w{
    display: flex;
    align-items: center;
    margin-top: 35px;
    margin-right: auto;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.date-w:before{
    margin-right: 8px;

    content: url('img/clockw.svg');
}
.date-m{
    display: flex;
    margin-top: 35px;
    align-items: center;
    margin-right: auto;
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.date-m:before{
    margin-right: 8px;

    content: url('img/clock.svg');
}


.date{


    display: flex;

    align-items: center;
    margin-top: 35px;
    margin-right: auto;
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.date:before{
    margin-right: 8px;
    content: url('img/clock.svg');
}
.views-w{
    display: flex;
    margin-top: 35px;
    align-items: center;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.views-w:before{
    margin-right: 8px;
    align-items: center;
    content: url('img/Eyew.svg');
}
.views{
    display: flex;
    margin-top: 35px;
    align-items: center;
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}
.views:before{
    margin-right: 8px;

    content: url('img/Eye.svg');
}.views-m{
     display: flex;
     margin-top: 35px;

     color: #9fa3a7;
     font-family: Montserrat, sans-serif;
     font-size: 10px;
     font-weight: 700;
     font-style: normal;
     letter-spacing: normal;
     line-height: normal;
     text-align: left;
     text-transform: uppercase;
 }
.views-m:before{
    margin-right: 8px;

    content: url('img/Eye.svg');
}
@media (max-width: 1150px){
    .building{
        max-width: 330px
    }
    .stadium{
        max-width: 330px
    }
    .winter{
        max-width: 330px
    }
    .windows{
        max-width: 330px
    }
    .image{
        height: 241px;
        max-width: 720px;
    }
    .mountains{
        max-width: 720px


    }
    .everest{
        max-width: 330px
    }
    .icon{
        max-width: 330px
    }
    .river{
        max-width: 330px
    }
}
@media (max-width: 1024px){
    .building{
        max-width: 360px;
    }
    .stadium{
        max-width: 360px;
    }
    .winter{
        max-width: 360px;
    }
    .windows{
        max-width: 360px;
    }
    .mountains{
        max-width: 740px;


    }
    .everest{
        max-width: 360px;
    }
    .icon{
        max-width: 360px;
    }
    .river{
        max-width: 360px;
    }

    .block{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
'building  stadium'
'winter windows'
'mountains mountains'
'everest icon'
'river -' ;
    }
    .bottom-part{
        max-width: 400px;
    }
    .bottom-part-w{
        max-width: 400px;
    }
    .bottom-part-m{
        max-width: 940px;
    }
}
@media (max-width: 750px){
    .photo{
        width: 100%;
        object-fit: cover;
    }
    .text-bg{
        display: flex;
        align-items: center;
    }
    .text-bl{
        display: flex;
        align-items: center;
    }
    .text-y{
        display: flex;
        align-items: center;
    }
    header{
        max-width: 650px;
    }
    .container{
        display: flex;
        justify-content: center;
    }
    .building{

        max-width: 360px;
    }
    .windows{
        max-width: 360px;
    }
    .mountains{
        width: 100%;
        max-width: 360px;
      
    }
    .everest{
        max-width: 360px;
    }
    .stadium{
        max-width: 360px;
    }
    .block{

        display: grid;
        grid-template-columns:  1fr;
        grid-template-areas:
'building '
'stadium '
'winter '
'windows '
'mountains'
'everest '
'icon '
'river ' ;
    }
    .bottom-part{
        max-width: 320px;
    }
    .bottom-part-w{
        max-width: 320px;
    }
    .bottom-part-m{
     width: 100%;
        padding-left: 10px;
        padding-right: 35px;
    }
    .icon-bp{
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media (max-width: 450px) {
    .block {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .icon-bp{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
    header {
        margin-left: 20px;
        display: flex;
        justify-content: space-around;
        max-width: 360px;
    }

    .building {

        max-width: 360px;
    }

    .windows {
        max-width: 360px;
    }

    .mountains {
        display: flex;
        max-width: 360px;
    }

    .everest {
        max-width: 360px;
    }

    .stadium {
        max-width: 360px;
    }

    .icon {
        width: 100%;
        max-width: 420px;
    }
    .winter {
        max-width: 360px;
    }
    .bottom-part {
        width: 100%
    }

    .bottom-part-w {
        width: 100%
    }

    .bottom-part-m {
     width: 100%
    }

    .main {
        font-size: 26px;
        margin-top: 25px;
    }
}
    @media (max-width: 320px) {

        .block {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-left: 50px;
        }
        .icon-bp{
            width: 100%;
            padding-left: 24px;
            padding-right: 25px;
        }
        header {
            margin-left: 80px;
            display: flex;
            justify-content: space-around;
            max-width: 150px;
        }

        .building {

            max-width: 200px;
        }

        .windows {
            max-width: 200px;
        }

        .mountains {

            max-width: 200px;
        }

        .everest {
            max-width: 200px;
        }

        .stadium {
            max-width: 200px;
        }

        .icon {

            width: 100%;

            max-width: 200px;
        }

        .winter {
            max-width: 200px;
        }

        .river {
            max-width: 200px;
        }

        .main {
            font-size: 20px;
        }

        .search {
            font-size: 10px;
        }

        .shuffle {
            font-size: 10px;
        }
        .bottom-part-m{
            padding-right: 25px;
            padding-left: 0;
        }
    }
