*, :before, :after {
    box-sizing: border-box;
}
.main-text{
    font-size: 36px;;
    max-width: 184px;
    width: 100%;
    margin: 60px auto;
}
.number1{
    right: 15%;
    top: 15px;
    position: absolute;
    color: #eeeeee;
    font-family: Montserrat, sans-serif;
    font-size: 427px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    z-index: -1;
}
.number2{
    top:48%;
    left: -48px;
    transform: translateY(-51%);
    z-index: -1;
    position: absolute;
    color: #eeeeee;
    font-family: Montserrat, sans-serif;
    font-size: 427px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;


}
p{
    color: #9fa3a7;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;

}
h3{
    color: #2c2c2c;
    font-family: Arvo ,sans-serif;
    font-size: 22px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
}
h2{
    color: #9fa3a7;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
}

.arrow{
    position: relative;
    width: 19px;
    height: 18px;
}
.arrow::before{
    padding: 5px 5px 3px 5px;
    box-sizing: content-box;
    max-width: 30px;
    max-height: 30px;
    position: absolute;
    content: url('img/Arrow.svg');
    border: 3px solid #ffc80a;
    border-radius: 50%;
}

.arrow2{
    display: flex;
    align-content: flex-end;
    position: relative;


}
.arrow2::before{
    box-sizing: content-box;
    padding: 8px 8px 7px 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    content: url('img/Arrow.svg');
    border: 3px solid #ffc80a;
    border-radius: 50%;
    max-width: 34px;
    max-height: 34px;

}
.img{
    width: 100%;
}
.image{

    width: 50%;
}
.top{
    margin-top: 100px ;
    position: relative;
    display: flex;


}
.bot{
    position: relative;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 828px;
}
.text{
    padding-left: 80px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.text2{
    align-items: flex-end;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 80px;
}
@media (max-width: 1024px) {
    .main-text{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
}
@media (max-width: 750px) {
    .main-text{
        font-size: 27px;
    }
    h3{
        font-size: 17px;
    }
    .number1{
        top:47%;
        left: 200px;
        transform: translateY(-51%);
    }
    .number2{
        max-width: 50%;
        right: 15%;
        top:7%;
        transform: translateY(-20%);
    }
}
@media (max-width: 450px) {
    .container{
       padding: 0 15px ;
    }
    .main-text{
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 27px;
    }
    h3{
        font-size: 17px;
    }
    .number1{
        display: none;
    }
    .number2{
        display: none;
    }
    .top{

        margin-top:40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-text{
        margin: 30px auto;
    }
    img{

        display: flex;
        align-content: center;

    }
    .image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .text{
        width: 100%;
        padding-left: 40px;
    }
    .text2{
        width: 100%;
        padding-right:40px ;
    }
    .bot{

        margin-top: 40px ;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}